.App {
  text-align: center;
  margin-top: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.car-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.car-image {
  width: 200px;
  height: 150px;
  margin-right: 20px;
}

.car-details h2 {
  margin-bottom: 5px;
}

.car-details p {
  margin: 0;
}
